<div class="login-options text-center">
    <a href="{{site.uri.public}}/account/forgot-password">Forgot your password?</a>
    <br>
    <br>
    <a href="{{site.uri.public}}/account/resend-activation">Resend activation email</a>
</div>