{% extends "pages/layouts/layout-homepage.html.twig" %}

{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template,
    but BEFORE the page itself is rendered. #}

    {% set page = page | merge({
        "title"       : "Login",
        "description" : "Login to your IntelliSense account.",
        "active_page" : "account/login"
    }) %}

    {{ parent() }}
{% endblock %}

{% block content %}
    <h3 class="form-title font-blue text-center">ElephantWifi Dashboard</h3>
    <h4 class="form-title font-blue text-center">Please sign in</h4>
    
    <div class="form-alerts" id="alerts-page"></div>

    <form id="login_form" name="login" method="post" action="{{site.uri.public}}/account/login" class="login-form">
        {% include "forms/csrf.html.twig" %}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-edit"></i></span>
                <input type="text" class="form-control form-control-solid placeholder-no-fix" name="user_name" autocomplete="off" value="" placeholder="{{ (site.email_login == 1) ? 'Username or Email' : 'Username' }}">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                <input type="password" class="form-control form-control-solid placeholder-no-fix" name="password" autocomplete="off" value="" placeholder="Password">
            </div>
        </div>
        <div class="form-actions text-center">
            <button type="submit" class="btn orange">Login</button>
            <label class="rememberme check mt-checkbox mt-checkbox-outline">
                <input type="checkbox" name="rememberme">Remember me
                <span></span>
            </label>
        </div>
    </form>
    {% include 'pages/components/homepage/homepage-links.html.twig' %}
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
// Load the validator rules for this form
var validators  = {{validators | raw}};

$(document).ready(function() {
    $("#login_form").ufForm({
        validator: validators,
        msgTarget: $("#alerts-page")
    }).on("submitSuccess.ufForm", function() {
        // Forward to login page on success
        function getCookie(key) {
            const regexp = new RegExp(`.*${key}=([^;]*)`);
            const result = regexp.exec(document.cookie);
            if(result) {
                return result [1];
            }
        }

        var faq_attempt = parseInt(getCookie('FAQ_Attempt'));

        if (faq_attempt == 1) {
            // Setting cross domain cookie
            var now = new Date();
            var time = now.getTime();
            // 6 Hours Expiry Time (1000 converts ms into s)
            var expireTime = time + 1000*21600;
            now.setTime(expireTime);

            document.cookie = "IntelliSense_Authorisation=1;expires=" + now.toGMTString() + ";path=/;domain=intelli-sense.co.uk";
            
            window.location.replace("https://faq.intelli-sense.co.uk/");
        }
        else {
            window.location.replace(site.uri.public);
        }        
    });
});
</script>
{% endblock %}
