{% extends "pages/layouts/layout-homepage.html.twig" %}
{% set page_group = "loggedout" %}

{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template,
    but BEFORE the page itself is rendered. #}

    {% set page = page | merge({
        "title"       : "ElephantWiFi - WiFi Manager",
        "description" : "Login page for access to ElephantWiFi's WiFi Manager",
        "active_page" : ""
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h3 class="form-title font-blue text-center">Welcome to ElephantWifi</h3>
    {% include 'pages/components/common/alerts.html.twig' %}
    <div class="row">
        <div class="form-actions text-center">
          <a id="login_button" href="{{site.uri.public}}/account/login" class="btn orange" role="button" value="Login">Login to Dashboard</a>
        </div>
    </div>
    {% include 'pages/components/homepage/homepage-links.html.twig' %}
{% endblock %}
